  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100;300;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /*faz com que a largura e altura do elemento não sejam alteradas quando adicionamos padding e border*/
    color: #FFF;
}

body{
    width: 100vw; /*100% da largura da tela*/
    height: 100vh; /*100% da altura da tela*/
}
.content{
    width: 100vw;
    height: 100vh; /*100% da altura da tela*/
    padding: 1 rem;  /*rem baseiase no tamanho da fonte do elemento pai*/
    width: 100vw; /*100% da largura da tela*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    color: #F6F8FC;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
h2{font-size: .5rem;
    color: #F6F8FC;
    margin-bottom: 1rem;
}
.textArea{
    max-width: 100vw;
    min-height: 30vh;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff71;
    color: black;
    
}
.textAreaGroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.textAreaContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    

Button{
    background-color: #F6F8FC;
    color: brown;
    font-size: large;
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
}


<!-- /*Responsivity*/ -->
@media(max-width: 600px){
    .textAreaGroup{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 394px){
    .textAreaGroup{
        grid-template-columns: 1fr;
    }
}