  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100;300;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /*faz com que a largura e altura do elemento não sejam alteradas quando adicionamos padding e border*/
    
    
}
html,
body{
    width: 100vw; /*100% da largura da tela*/
    height: 100vh; /*100% da altura da tela*/
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 100vw 100vh  ;
      animation: gradient 15s ease infinite;
}
.content{
    width: 100vw;
    height: 100vh; /*100% da altura da tela*/
    padding:  1rem;  /*rem baseiase no tamanho da fonte do elemento pai*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    color: #F6F8FC;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
h3{
    font-size: 1.5rem;
    color: #F6F8FC  ;
    margin-bottom: 1rem;
}
.textArea{
    max-width: 70vw;
    min-height: 30vh;
    border-radius: 10px;
    background-color: #ffffff71;
    color: #F6F8FC;
    
}
.textAreaGroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.textAreaContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    

Button{
    background-color: #F6F8FC;
    color: brown;
    font-size: large;
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
}


 /*Responsivity*/ 
@media(max-width: 600px){
    .textAreaGroup{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 395px){
    .textAreaGroup{
        grid-template-columns: 1fr;
        max-width: 70vw;
        max-height: 80vh;
        margin: 0;
        padding: 0;
    }
    .textArea{
        max-width: 70vw;
        min-height: 20vh;
        border-radius: 10px;
        background-color: #ffffff71;
        padding: 0;
        margin:0 ;
    } 
    h3{font-size: 1.5rem;
        color: #F6F8FC;
        margin: 0;
    }
    Button{
        padding: .5rem 1rem;
        margin: 1rem;
    }  
}




@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
